@mixin block-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin margin-x ($size1, $size2:$size1){
  margin-left: $size1;
  margin-right:$size2;
}
@mixin margin-y ($size1, $size2:$size1){
  margin-top: $size1;
  margin-bottom:$size2;
}
@mixin padding-x ($size1, $size2:$size1){
  padding-left: $size1;
  padding-right:$size2;
}
@mixin padding-y ($size1, $size2:$size1){
  padding-top: $size1;
  padding-bottom:$size2;
}