$blue-grad:linear-gradient(to bottom, #6dffc6, #3fd2ce);
$red-grad:linear-gradient(to bottom, #ff6c54, #ff2b59);
$sm-block:#232e3d;
$other-back:#233537;
$btn-rad:10px;
$btn-padd:1rem 3.5rem;
$sm-fs:.85rem;
$body-fs:15px;
$sm-screen:575px;
$md-screen:767px;
$lg-screen:991px;
$xl-screen:1199px;